.TodoTitle {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #1e1e1f;
  font-size: 45px;
  text-align: center;
  margin: 0;
  padding: 30px 0 10px;
}
.TodoTitle span svg {
  height: 100%;
  color: #680a10;
}

.TodoCounter {
  color: #1e1e1f;
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 35px;
  font-weight: normal;
}

.TodoCounter span {
  color: #680a10;
  font-weight: bold;
  font-size: 30px;
}
